body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100lvh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #16181d;
}

section {
  background-color: #eff4f6;
  border-radius: 15px;
  width: 350px;
  height: 550px;
  border: 5px solid white;
  color: #7e95b0;
}

header {
  background-color: #b9c6d1;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

#home-section img {
  display: flex;
  margin: 0 auto;
  width: 150px;
}

nav {
  width: 100%;
}


label {
  margin-bottom: 30px;
  font-size: 18px;
  color: #16181d;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  color: #505255;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #211e29;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

input {
  border: 3px solid black;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 30px;
  padding: 15px;
}

label input[type="text"],
label input[type="date"] {
  width: 150px;
}

.none {
  display: none
}

table {
  width: 100%;
  margin-bottom: 30px;
  color: #505255;
}

table tr {
  height: 30px;
  text-align: center;
}

thead {
  color: #16181d;
  height: 50px;
}

.error {
  display: none;
  color: red;
  text-decoration: underline;
}

.invalid {
  border: 3px solid red;
  color: red;
}

button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.remove-btn:hover {
  background-color: red;
}

.section-capital-out {
  text-align: center;
  font-size: 18px;
}

.section-capital-out p {
  font-weight: bold;
  color: #211e29;
}

#section-capital span {
  font-weight: bold;
  font-size: 16px;
  margin: 0 5px;
  color: #505255;
}